<div ng-include="'components/navbar/navbar.html'"></div>
<div ng-include="'components/search/search.html'"></div>

<div class="container" ng-class="{'open': isBurgerMenu}">
  <div ng-include="'components/login/login.html'"></div>
  <div class="row" ng-hide="!isSpotifyLoggedIn">
    <div class="grid-12">
      <h2>Discover</h2>
      <ul>
        <li class="item item-header" ng-repeat="discover in discover.tracks | limitTo:5">
          <a ng-href="{{discover.external_urls.spotify}}" target="_blank">
            <img ng-src="{{discover.album.images[0].url}}" alt="">
            <i ng-bind="discover.name"></i>
            <span ng-bind="discover.artists[0].name"></span>
          </a>
          <button class="addsong" ng-click="addSong($index)"></button>
        </li>
      </ul>
    </div>
    <div class="grid-9">
      <h3>Treading</h3>
      <ul>
        <li ng-repeat="treading in charts.playlists.items | limitTo:3" class="item item-3">
          <a ng-href="{{treading.external_urls.spotify}}" target="_blank">
            <img ng-src="{{treading.images[0].url}}" alt="">
            <i ng-bind="treading.name"></i>
          </a>
        </li>
      </ul>
      <h3>New</h3>
      <ul>
        <li class="item item-4" ng-repeat="newReleases in browse.albums.items | limitTo:8">
          <a ng-href="{{newReleases.external_urls.spotify}}" target="_blank">
            <img ng-src="{{newReleases.images[0].url}}" alt="">
            <i ng-bind="newReleases.name"></i>
          </a>
        </li>
      </ul>
    </div>
    <div class="grid-3 toplisted">
      <h4>Top 5 likes</h4>
      <ul>
        <li ng-repeat="top5songs in top5.items| orderBy: '-rating' | limitTo:5">
          <a ng-href="{{top5songs.track.external_urls.spotify}}" target="_blank">
            <img ng-src="{{top5songs.track.album.images[0].url}}" alt="">
            <i ng-bind="top5songs.track.name"></i><br>
            <span ng-bind="top5songs.track.artists[0].name"></span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
