.item {
  &-header {
    width: 25%;
    margin-bottom: 0;


    &:first-child {
      width: 50%;
    }
    &:nth-child(2),
    &:nth-child(3) {
      margin-bottom: 10px;
    }
    &:nth-child(5) {
      margin-left: 0;
    }

    @include media($mobile) {
      width: 100%;
      margin-left: -7.5px;

      &:first-child {
        width: 100%;
      }

      &:nth-child(5) {
        margin-left: -7.5px;
      }
    }

    i,span {
      position: absolute;
      left: 30px;
      top: 20px;
    }
    i {
      color: $blue;
    }
    span {
      top: 40px;
    }
  }
}

.toplisted {
  &-big {
    border-left: 0;
    overflow: scroll-x;

    li {
      @include media($mobile) {
        margin-bottom: 20px;
      }
    }

    a {
      height: 90px;
      font-size: 20px;

      @include media($mobile) {
        height: 50px;
      }

      i, span {
        @include media($mobile) {
          font-size: 12px;
        }
      }

      img {
        width: 80px;
        height: 80px;
        @include media($mobile) {
          width: 40px;
          height: 40px;
        }
      }
    }
  }
}

