* {
	padding: 0;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	box-sizing: border-box;
}

.grid-6 {
	width: 50%;
	float: left;
}

header {
	background-color: white;
	padding: 50px 0;
}

header h1 {
	padding: 0 15px;
}

body {
	background-color: #eee;
}

img {
	margin-left: 20px;
}

.container,
header h1 {
	max-width: 1030px;
	margin: 0 auto;
	padding: 0 15px;
}

.container {
	margin-bottom: 50px;
}

article {
	clear: both;
}

article .headtitle {
	padding: 20px 15px;
	margin-bottom: 15px;
	border-bottom: 1px solid #ccc !important;
}

article .headtitle span {
	font-size: 10px;
}

.colorbox {
	margin: 0 15px 15px;
	width: 200px;
	float: left;
}

.box {
	height: 50px;
	text-align: center;
}

.colorbox h4 {
	display: block;
	background-color: white;
	padding: 10px 10px 0;
	width: 100%;
	font-size: 12px
}

.colorbox span {
	display: block;
	background-color: white;
	padding: 10px;
	width: 100%;
	color: gray;
}

.box-gray {background-color: #181f24;}
.box-gray20 {background-color: #4B5257;}
.box-green {background-color: #02b875;}
.box-green20 {background-color: #35EBA8;}
.box-text {background-color: #8ca1af;}
.box-text20 {background-color: #BFD4E2;}
.box-black {background-color: black;}
.box-white {background-color: white;}

.typography h1,
.typography h2,
.typography h3,
.typography h4,
.typography h5,
.typography h5,
.typography h6 {
	padding: 5px 0;
}

.typography h1 {
	font-size: 48px;
	font-weight: 100;
}
.typography h2 {
	font-size: 32px;
	font-weight: 100;
}
.typography h3 {
	font-size: 26px;
	font-weight: normal;
}
.typography h4 {
	font-size: 20px;
	font-weight: normal;
}
.typography h5 {
	font-size: 18px;
	font-weight: bold;
}
.typography h6 {
	font-size: 16px;
	font-weight: bold;
}

.btn {
	display: inline-block;
	width: 200px;
	line-height: 50px;
	text-align: center;
	background-color: white;
	margin-bottom: 15px;
	margin-right: 15px;
	text-decoration: none;
	color: black;
	border-radius: 500px;
}

.btn-green {
	background-color: #02b875;
	color: white;
}

.btn-green__outline {
	border: 1px solid #02b875;
}

.btn-white {

}

.btn-white__outline {
	border: 1px solid black;
}

input {
	width: 100%;
	line-height: 50px;
	outline: 0;
	border: none;
	padding-left: 30px;
	padding-right: 5px;
	font-size: 12px;
}