header {
  float: right;
  width: calc(100% - 70px);

  .burgermenu {
    width: 50px;
    line-height: 50px;
    float: left;
    text-align: center;
    color: $gray;

    &:hover,
    &:focus,
    &:active {
      color: $gray-lighten;
    }
  }

  label {
    position: relative;
    margin: 0;

    i {
      position: absolute;
      top: 0;
      left: 0;
    }

    button {
      display: none;
    }
  }

  input {
    width: calc(100% - 50px);
    line-height: 50px;
    outline: none;
    border: none;
    padding-left: 30px;
    padding-right: 5px;
    font-size: 12px;
  }

  &.open {
    .burgermenu {
      display: none;
    }
    form {
      padding: 0 15px;
    }
    input {
      line-height: 75px;
    }
  }
}

.navCon {
  &.active header {
    width: calc(100% - 300px);
  }
}

.search-box {
  display: none;
  width: 100vw;
  height: 100vh;
  padding: 50px;
  margin-top: 75px;
  position: fixed;
  left: 0;
  top: 0;
  background-color: $gray;
  color: white;
  z-index: 99;

  &.open {
    display: block;
  }

  .toplisted a i {
    color: $blue;
  }
  .pagination a {
    color: $blue;
  }
  .addsong:after {
    color: $blue;
  }
}

.close {
  position: absolute;
  right: 15px;
  top: -75px;
  height: 75px;
  width: 75px;
  background-color: $gray;
  outline: none;
  border: 0;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.search {
  input {
    width: 90%;
    float: left;
    padding: 10px 12px;
    font-style: italic;
    border-right: 0;
  }
  button {
    width: 10%;
    padding: 10px 12px;
    outline: none;
    margin: 0 0 15px;
    border-left: 0;
    background-color: transparent;
  }
}
