<div ng-controller="SearchCtrl" class="navCon" ng-class="{'active': isBurgerMenu}">
  <header ng-class="{'open': searchBox}">
    <a href="" ng-click="btnBurgerMenu()" class="burgermenu"><i class="fa fa-bars" aria-hidden="true"></i></a>
    <form>
      <label for="">
        <i class="fa fa-search" aria-hidden="true"></i>
        <input type="text" ng-model="spotifySearch" placeholder="Search...">
        <button ng-click="btnSearch()">Search</button>
      </label>
    </form>
  </header>

  <div class="search-box" ng-class="{'open': searchBox}">
    <button ng-click="btnSearchClose()" class="close"><i class="fa fa-times" aria-hidden="true"></i></button>
    <div class="row" ng-hide="!isSpotifyLoggedIn">
      <div class="grid-12 toplisted toplisted-big">
        <h2>Search</h2>
        <ul>
          <li dir-paginate="searchPlaylistsongs in searchPlaylist.tracks.items | itemsPerPage: 5">
            <a ng-href="{{searchPlaylistsongs.preview_url}}" target="_blank">
              <img ng-src="{{searchPlaylistsongs.album.images[0].url}}" alt="">
              <i ng-bind="searchPlaylistsongs.name"></i><br>
              <span ng-bind="searchPlaylistsongs.artists[0].name"></span>
            </a>
            <button class="addsong" ng-click="addSearchSong($index)"></button>
          </li>
        </ul>
        <dir-pagination-controls max-size="5" direction-links="true" boundary-links="false"></dir-pagination-controls>
      </div>
    </div>
  </div>
</div>
