$fa-font-path: "/bower_components/font-awesome/fonts";

@import 'font-awesome/scss/font-awesome';

// Colors:
$gray: #181f24;
$gray-lighten: lighten($gray, 20%);
$green: #02b875;
$green-lighten: lighten($green, 20%);;
$blue: #8ca1af;
$blue-lighten: lighten($blue, 20%);;
$black: #000;
$white: #FFF;

// Responsive
$tablet: 1024px;
$mobile: 768px;

// Fonts:
@font-face {
    font-family: spotify;
    src: url(../fonts/CircularStd-Bold.otf);
}

@import 'mixins.scss';

// Component styles are injected through grunt
// injector
@import 'artists/artists.scss';
@import 'base.scss';
@import 'browse/browse.scss';
@import 'grid.scss';
@import 'main/main.scss';
@import 'mixins.scss';
@import 'playlist/playlist.scss';
@import 'Login/login.scss';
@import 'control/control.scss';
@import 'cookies/cookies.scss';
@import 'navbar/navbar.scss';
@import 'search/search.scss';
// endinjector

