* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'spotify';
}

.container {
  width: calc(100% - 70px);
  float: right;
  margin-bottom: 50px;

  .btn-spotify {
    position: absolute;
    left: 50%;
    top: 50%;
  }

  &.open {
    width: calc(100% - 300px);
  }
}

h1,h2,h3,h4,h5,h6 {
  margin: 15px 0;
}

.deactivate {
  display: none;
}

.btn {
  outline: none;
  border: 1px solid $green-lighten;
  background-color: $green;
  padding: 5px 17px;
  border-radius: 500px;
  color: white;
  cursor: pointer;

  &:hover {
    background-color: $green-lighten;
  }
}

.item {
  position: relative;
  float: left;
  padding: 0 7.5px;
  margin-bottom: 30px;

  &:first-child {
    margin-left: -7.5px;
  }
  &:nth-child(5) {
    margin-left: -7.5px;
  }
  &:last-child {
    margin-right: -7.5px;
  }

  &:hover {
    &:after {
      content: "\f04b";
      position: absolute;
      left: 50%;
      top: 50%;
      @include translate(-50%, -50%);
      border-radius: 100%;
      padding: 11px 11px 11px 15px;
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
      text-decoration: inherit;
      font-size: 18px;
      color: $white;
      border: 1px solid $white;
    }
  }

  a {
    display: block;
  }

  img {
    width: 100%;
    border-radius: 2px;
  }

  i,span {
    font-style: normal;

    @include media($tablet) {
      font-size: 12px;
    }
  }

  i {
    display: block;
    color: black;
    text-decoration: none;
  }
  span {
    color: $blue-lighten;
    font-size: 13px;
  }

  &-3 {
    width: 33.3%;

    @include media($mobile) {
      width: 100%;
      margin-left: -7.5px;
    }
  }
  &-4 {
    width: 25%;

    @include media($mobile) {
      width: 100%;
      margin-left: -7.5px;
    }
  }
}

.grid-3.toplisted {
  @include media($tablet) {
    li {
      width: 20%;
      float: left;
      clear: none;

      img {
        width: 100%;
        height: auto;
      }

      i, span {
        display: none;
      }
    }
  }
}

.toplisted {
  border-left: 1px solid lightgray;

  li {
    position: relative;
    clear: both;
  }
  a {
    display: block;
    width: 100%;
    height: 50px;
    padding: 5px 0;
    border-radius: 2px;

    img {
      width: 40px;
      height: 40px;
      float: left;
      border-radius: 2px;
    }

    i,span {
      margin-left: 15px;
      float: left;
      font-style: normal;
    }

    i {
      display: block;
      color: $gray;

      @include media($tablet) {
        font-size: 15px;
      }
    }
    span {
      color: $gray-lighten;
      font-size: 13px;

      @include media($tablet) {
        font-size: 13px;
      }
    }
  }
  .addsong:hover:after {
    color: $green;
  }
  .addsong:after {
    color: black;
  }
}

.pagination {
  margin: 20px 0;

  li {
    display: inline-block;
  }
  a {
    height: auto;
    width: auto;
    padding: 0 15px;
    border-bottom: 0;
    color: black;
  }
  .active {
    background-color: rgba(120, 120, 120, 0.1);
  }
}

.addsong {
  position: absolute;
  right: 30px;
  top: 20px;
  width: 20px;
  height: 20px;
  border: 0;
  background-color: transparent;
  cursor: pointer;

  &:after {
    content: "\f006";
    position: absolute;
    left: 0;
    top: 0;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    font-size: 20px;
    color: white;
  }

  &:hover {
    &:after {
      color: green;
    }
  }
}
