// Effect on hover
a, button, .item {
  -webkit-transition: all 1000ms;
  transition: all 1000ms;
}

// Responsive
@mixin media($width) {
  @media only screen and (max-width: $width) {
    @content;
  }
}

// Translate
@mixin transform($transforms) {
-moz-transform: $transforms;
-o-transform: $transforms;
-ms-transform: $transforms;
-webkit-transform: $transforms;
transform: $transforms;
}

@mixin translate($x, $y) {
  @include transform(translate($x, $y));
}
