<div ng-include="'components/navbar/navbar.html'"></div>
<div ng-include="'components/search/search.html'"></div>

<div class="container">
  <div ng-include="'components/login/login.html'"></div>
  <div class="row" ng-hide="!isSpotifyLoggedIn">
    <div class="grid-9">
      <h2>Your Top Artists</h2>
      <ul>
        <li class="item item-4" ng-repeat="recomArtists in artists.items">
          <a ng-href="{{recomArtists.external_urls.spotify}}" target="_blank">
            <img ng-src="{{recomArtists.images[0].url}}" alt="">
            <i ng-bind="recomArtists.name"></i>
          </a>
        </li>
      </ul>
    </div>
    <div class="grid-3 toplisted">
      <h4>Top 5 likes</h4>
      <ul>
        <li ng-repeat="top5songs in top5.items | orderBy: '-rating' | limitTo:5">
          <a ng-href="{{top5songs.track.external_urls.spotify}}" target="_blank">
            <img ng-src="{{top5songs.track.album.images[0].url}}" alt="">
            <i ng-bind="top5songs.track.name"></i><br>
            <span ng-bind="top5songs.track.artists[0].name"></span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
