$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

body, a {
  color: #8ca1af;
}

a:hover {
  color: #BFD4E2;
}

a,button {
  @include transition(all 1000ms);

}

ul {
  list-style: none;
  padding: 0;
}

nav {
  width: 70px;
  height: 100vh;
  background-color: #181f24;
  position: fixed;
  float: left;

  a {
    display: block;
    width: 100%;
    line-height: 50px;
    text-align: center;

    &:hover {
      background-color: #4B5257;
    }
  }
  .user {
    position: absolute;
    bottom: 0;
    left: 0;
    line-height: 50px;
    width: 100%;
    text-align: center;
    background-color: #4B5257;
  }
}

.logo {
  border-bottom: 1px solid white;
}

header {
  float: right;
  width: calc(100% - 70px);

  .burgermenu {
    width: 50px;
    line-height: 50px;
    float: left;
    text-align: center;
  }

  label {
    margin: 0;
  }

  input {
    width: calc(100% - 50px);
    line-height: 50px;
    outline: none;
    border: none;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 12px;
  }
}

.container {
  width: calc(100% - 70px);
  float: right;
}

.items {
  li {
    width: 25%;
    height: 243px;
    float: left;
    margin-bottom: 15px;
    padding-left: 15px;


    &:first-child {
      width: 50%;
      height: 500px;
      margin: 0;
      padding-left: 0;
    }

    a {
      display: block;
      height: 100%;
      width: 100%;
      background: url('/images/2.jpg') no-repeat;
      background-size: cover;
      position: relative;
    }
    span {
      position: absolute;
      left: 10px;
      top: 10px;
      color: white;
    }
    i {
      position: absolute;
      left: 10px;
      bottom: 10px;
      color: #8ca1af;
      font-style: normal;
    }
  }

  &-playlists {
    li:nth-child(5) {
      padding-left: 0;
    }
    li:first-child {
      width: 25%;
      height: 243px;
      padding-left: 0;
    }
  }
}
