.control {
  position: fixed;
  bottom: 0;
  right: 0;
  width: calc(100% - 70px);
  line-height: 50px;
  background-color: $gray-lighten;
  text-align: center;

  @include media($mobile) {
    p {
      display: none;
    }
  }

  p, div {
    color: $gray;
    float: left;
  }

  div {
    float: right;
    margin: 0 15px;
    font-size: 12px;

    span {
      color: $green;
    }
  }

  button {
    color: $white;
    outline: none;
    border: none;
    background-color: transparent;
    font-size: 16px;
    margin: 0 15px;
    cursor: pointer;
  }
}
