<div class="control" ng-controller="controlCtrl">
  <p ng-bind="currentUser.display_name"></p>
  <div>Current Time: <span>{{sound.currentTime | trackTime}} / {{sound.duration | trackTime}}</span></div>
</div>
