.cookie-popup {
  width: 100%;
  // height: 100px;
  background-color: $white;
  position: fixed;
  bottom: 0;
  left: 0;
  text-align: center;
  box-shadow: 0px -1px 5px 0px rgba(50, 50, 50, 0.75);
  padding: 20px;
  p {
    line-height: 20px;
  }
  a {
    color: $blue;
  }
}
