<div ng-controller="CookiesCtrl">
  <div  class="cookie-popup" ng-hide="!cookiespopupshow">
    <p>Ved at benytte MediDJ accepterer du, at der anvendes cookies, som vi benytter til statistik, måling af vores ydelse og funktionalitet. <a href="http://minecookies.org/skabelon-til-cookie-og-privatlivspolitik/" target="_blank">Læs mere om brug af cookies.</a></p>
    <a ng-click="cookiespopup()" href="">OK</a>
  </div>
</div>
