ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.logo {
  &:hover {
    background-color: transparent;
  }
}

nav {
  width: 70px;
  height: 100vh;
  background-color: $gray;
  position: fixed;
  z-index: 99;

  img {
    width: 40px;
    margin: 15px;
  }

  a {
    display: block;
    width: 100%;
    text-align: center;
    line-height: 50px;
    color: $gray-lighten;

    &:hover {
      background-color: $gray-lighten;
      color: $gray;
    }
  }

  .user {
    position: absolute;
    bottom: 0;
    left: 0;
    line-height: 50px;
    width: 100%;
    text-align: center;
    background-color: $gray-lighten;
  }

  p {
    display: none;
    margin-left: 15px;
  }

  &.open {
    width: 300px;

    @include media($mobile) {
      width: 320px
    }

    a {
      text-align: left;
      padding: 0 15px;
    }

    p {
      display: inline;
    }
  }
}
