<nav ng-class="{'open': isBurgerMenu}" ng-controller="NavbarCtrl">
  <a href="/" class="logo">
    <img src="/assets/images/logo-white.png" alt="">
  </a>
  <ul>
    <li><a ng-href="/"><i class="fa fa-music" aria-hidden="true"></i><p>Home</p></a></li>
    <li><a ng-href="/browse"><i class="fa fa-list" aria-hidden="true"></i><p>Browse</p></a></li>
    <li><a ng-href="/playlist"><i class="fa fa-eercast" aria-hidden="true"></i><p>Playlist</p></a></li>
    <li><a ng-href="/artists"><i class="fa fa-users" aria-hidden="true"></i><p>Artists</p></a></li>
    <li class="user"><i class="fa fa-user" aria-hidden="true"></i><p ng-bind="currentUser.display_name"></p></li>
  </ul>
</nav>
