<div ng-include="'components/navbar/navbar.html'"></div>
<div ng-include="'components/search/search.html'"></div>

<div class="container">
  <div ng-include="'components/login/login.html'"></div>
  <div class="row" ng-hide="!isSpotifyLoggedIn">
    <div class="grid-12 toplisted toplisted-big">
      <h2>Tracks</h2>
      <ul>
        <li dir-paginate="top5songs in top5 | orderBy: '-rating*1' | itemsPerPage: pageSize" current-page="currentPage">
          <a ng-click="playSong($index)" target="_blank">
            <img ng-src="{{top5songs.album.images[0].url}}" alt="">
            <i ng-bind="top5songs.name"></i><br>
            <span ng-bind="top5songs.artists[0].name"></span>
          </a>
          <span class="ratings">
            {{top5songs.rating}} <i class="fa fa-user" aria-hidden="true"></i>
          </span>
          <button ng-click="uprating(top5songs)" class="ratings ratings-up" ng-disabled="top5songs.track.ratingClicked"></button>
          <button ng-click="downrating(top5songs)" class="ratings ratings-down" ng-disabled="top5songs.track.ratingClicked"></button>
        </li>
      </ul>
      <dir-pagination-controls max-size="5" direction-links="true" on-page-change="pageChangeHandler(newPageNumber)" boundary-links="false"></dir-pagination-controls>
      <audio ng-src="{{sound.id | urlTrusted}}"></audio>
    </div>
  </div>
</div>

<div ng-include="'components/control/control.html'"></div>
