.ratings {
  position: absolute;
  right: 30px;
  top: 20px;
  border: 0;
  background-color: transparent;

  @include media($mobile) {
    position: static;
  }

  &-up,
  &-down {
    width: 20px;
    height: 20px;
    top: 40px;

    &:after {
      content: "\f078";
      position: absolute;
      left: 0;
      top: 0;
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
      text-decoration: inherit;
      font-size: 20px;
      color: black;

      @include media($mobile) {
        position: static;
      }
    }
    &:disabled:after {
      color: lightgray;
    }
  }
  &-up {
    right: 55px;

    &:after {
      content: "\f077";
    }
  }
}
